@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

.background {
  background-color:black;
  height: 100vh;

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    .row{
      justify-content: center;
      @include media-breakpoint-down(md){
        padding: 0 15px 0 15px;
      }
      .mat-paginator{
        background: none;
        color: #fff;
      }
    }
  }
}
