<div class="background">
  <div class="container">
    <div class="row">
      <GitHubApp (total)="this.handleCurrentSize($event)" [pageNumber]="this.pageNumber" [pageSize]="this.pageSize"></GitHubApp>
      <mat-paginator
        [length]="this.total"
        [pageSize]="this.pageSize"
        (page)="this.handlePageEvent($event)">
      </mat-paginator>
    </div>

    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div>
  </div>
</div>
